<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZeldaFullEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.FileVersionInfo" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.StackTrace" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ZeldaFullEditor.Properties.Settings>
      <setting name="spriteText" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chestText" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="itemText" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="transparentBG" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rightToolbox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="spriteShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="itemsShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chestitemShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dooridShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chestidShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disableentranceGfx" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bg2maskShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="entranceCamera" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="entrancePos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="emulatorPath" serializeAs="String">
        <value />
      </setting>
      <setting name="recentFiles" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
        </value>
      </setting>
      <setting name="favoriteObjects" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
        </value>
      </setting>
      <setting name="SelectedRoomOutline" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="OpenedRoomOutline" serializeAs="String">
        <value>LimeGreen</value>
      </setting>
      <setting name="ExportedRoomOutline" serializeAs="String">
        <value>DarkTurquoise</value>
      </setting>
      <setting name="OpenedExportedRoomOutline" serializeAs="String">
        <value>SeaGreen</value>
      </setting>
      <setting name="SelectedRoomOutlineSize" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="OpenedRoomOutlineSize" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ExportedRoomOutlineSize" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="OpenedExportedRoomOutlineSize" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ObjectSelectedColor" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="ObjectLastSelectedColor" serializeAs="String">
        <value>DarkGreen</value>
      </setting>
      <setting name="CameraColor" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="BG2MaskColor" serializeAs="String">
        <value>DarkTurquoise</value>
      </setting>
      <setting name="SelectionBoxColor" serializeAs="String">
        <value>White</value>
      </setting>
    </ZeldaFullEditor.Properties.Settings>
  </userSettings>
</configuration>
