<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZeldaFullEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ZeldaFullEditor.Properties.Settings>
      <setting name="spriteText" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chestText" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="itemText" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="transparentBG" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rightToolbox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="spriteShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="itemsShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chestitemShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dooridShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chestidShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disableentranceGfx" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bg2maskShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="entranceCamera" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="entrancePos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="recentFiles" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="favoriteObjects" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
    </ZeldaFullEditor.Properties.Settings>
  </userSettings>
</configuration>